/* 
    Created on : 6 mai 2020, 08:21:13
    Author     : BRANCHEREAU & GRAVEY
*/


/*
       ------------ GENERAL----------
     
*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}


body{
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bahnschrift SemiCondensed';
  font-weight: normal;
}

h2{
  font-size: 30px;
  font-weight: normal;
}

.container-center{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    justify-content: center;
}

/*
       ------------ GENERAL HEADER ----------
     
*/

header{
    background-image:url(images/espace.png);
    background-size: cover;
    opacity:0.9;
    border: 5px solid black;
    width:100%;
    height: 80px;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:fixed;
    z-index: 999;
    top:0px;
}

.container-header{
    position: absolute;
    top: 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
@media all and (max-width:600px){
    .container-header{
        display:none;
    }
}

.container-header h1{
    font-size:20px;
    margin-top:-10px;
}

.logo-header{
     background-image:url(images/logo.png);
    background-size: cover;
    width:60px;
    height: 60px;
}

.title{
    background-color: #993366;
    width:40vw;
    padding: 5px;
    border:4px solid black;
    color:white;
    margin:50px;
    margin-top:150px;
}

.title-emp{
    background-color:#F54359;
    width:40vw;
    padding: 5px;
    border:4px solid black;
    color:white;
    margin:50px;
    margin-top:150px;
}

.title h1,.title-emp h1{
    font-size:40px;
}

.top-buttons button{
    margin: 12px;
    border:3px solid white;
    border-radius:50px;
    background: rgba(255,255,255,0.2);
    color:white;
    font-weight: bold;
    padding:5px;
}

@media all and (min-width:1200px){
    
    .top-buttons{
        width:100vw;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .top-buttons button{
            width:15vw;
            height: 3vw;
    }

}
@media all and (max-width:1200px) and (min-width:600px){
    
    .top-buttons{
        width:100vw;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .top-buttons button{
    width:200px;
    height: 60px;
}

}
@media all and (max-width:600px){
    .top-buttons{
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    
 
    .top-buttons button{
    width:200px;
    height: 60px;
}

}
/*
       ------------ HOMEPAGE ----------
     
*/

.header{
    background-image:url(images/espace.png);
    background-size: cover;
    border-bottom: 5px solid black;
    width:100%;
    height: 600px;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.logo{
     background-image:url(images/logo.png);
    background-size: cover;
    width:200px;
    height: 200px;
}

.presentation p{
    border:3px solid black;
    padding: 20px;
    font-size: 25px;
    margin-left:10vw;
    margin-right:10vw;
    margin-top:100px;
    text-align: center;
}
/*
       ------------ Caroussel ----------
     
*/

.caroussel-container{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vw;
    margit-bottom: 3vw;
    font-size:30px;
}

.caroussel-sub-container{
    display:flex;
    flex-direction: column;
    width:80vw;
    height:800px;
    border:2px solid black;
}

.caroussel-nom{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    height:400px;
}

.caroussel-nom-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height:400px;
}

.caroussel-nom-photo{

}

#caroussel-image,#caroussel-imageP,#caroussel-imageS{
    height:20vw;
    width:20vw;
    margin:2vw;
}

#caroussel-image-type,#caroussel-image-typeP,#caroussel-image-typeS{
    height:5vw;
    width:5vw;
}
.caroussel-nom p{
    text-align:center;
    padding:20px;
}

.caroussel-liste-cases{
    display:flex;
    flex-direction: row;
    width:100%;
    height:400px;
}
.caroussel-column-cases{
    display: flex;
    flex-direction: column;
    width:100%;
    height:400px;
}

.caroussel-self-case{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:200px;
    border:1px solid black;
}

#medium-presentation{
    font-style:italic;
}

#medium-denomination{
    font-weight: bold;
}

.caroussel-container .button{
    background-color: white;
    margin:30px;
    width:10%;
}
/*
       ------------ CONNEXION ----------
     
*/

.connexion-main-container body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}

.connexion-main-container fieldset, img {border:0}

.connexion-main-container ol, ul, li {list-style:none}

.connexion-main-container :focus {outline:none}

.connexion-main-container body, input, textarea, select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

.connexion-main-container p {
  font-size: 12px;
  width: 150px;
  display: inline-block;
  margin-left: 10px;
}

.connexion-main-container h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 5px;
}

.connexion-main-container html{
  background-color: #ffffff;
}

.connexion-main-container .testbox {
  margin: 20px auto;
  width: 383px; 
  height: 240px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}

.connexion-main-container form{
  margin: 0 30px;
}

.connexion-main-container hr{
  color: #a9a9a9;
  opacity: 0.3;
}

.connexion-main-container input[type=text],input[type=password], input[type=date], input[type=tel]{
  width: 240px; 
  height: 39px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
}

.connexion-main-container input[type=password], input[type=date]{
  margin-bottom: 25px;
  width: 240px;
}

.connexion-main-container #icon {
  display: inline-block;
  width: 30px;
  background-color: #3a57af;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
}

.connexion-main-container .gender {
  margin-left: 8px;
}

.connexion-main-container .accounttype{
  margin-left: 8px;
  margin-top: 20px;
}

.connexion-main-container a.button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 9px 25px 0px 20px;
  margin: 0px 0px 0px 100px;
  display: inline-block;
  text-decoration: none;
  width: 76px; height: 27px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #3a57af; 
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
  -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
  box-shadow: 0 3px rgba(58,87,175,.75);
  transition: all 0.1s linear 0s; 
  top: 0px;
  position: relative;
}

.connexion-main-container a.button:hover {
  top: 3px;
  background-color:#2e458b;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}



/*
       ------------ CREER UN COMPTE ----------
     
*/


.new-account-form{
    border:2px solid black;
    text-align: center;
}

.new-account-form input{
    border:1px solid grey;
}
.account-main-container{
    width:60vw;
    font-size:25px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}
.new-account-name{
    text-align:right;
}

/*
       ------------ TABLEAU DE BORD CLIENT ----------
     
*/

#p-marge{
    margin-top:1000px;
}

.title h2{
    text-align: center;
    font-size: 30px;
}

.tableau-client-container{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items : center;
}

.profil-astral-container{
    order: 1;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profil-astral-container p{
    margin: 30px;
}

.profil-astral-container h2{
    text-align: center;
    font-weight: bold;
    padding: 15px;
    border-bottom: 2px solid black;
}

.historique-client-container{
    width:50%;
    order: 2;
    border: 2px solid black; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.historique-client-container h2{
    text-align: center;
    font-weight: bold;
    padding: 15px;
    border-bottom: 2px solid black;
}

.historique-client-container .historique-client-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    overflow-y: scroll;
    max-height:30vh;
}

.historique-client-container .consultation{
    width:90%;
    text-align: center;
    border: 2px solid black;
    margin-bottom: 3px;
    padding: 10px;
}

#bouton-demande-consultation{
    margin: 20px;
    border:3px solid black;
    border-radius:5px;
    background: #993366;
    color:white;
    padding:15px;
}

/*
       ------------ Detail Consultation Client ----------
     
*/

.consultation-detail-container{
    display:flex;
    width:70%;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    margin:5px;
    padding:10px;
    /*font-size:30px;*/
}

.consultation-detail-container .titre-header {
    width:80%;
}

.consultation-detail-container .titre-header h2{
    text-align: center;
    font-weight: bold;
    padding: 15px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.consultation-detail-subcontainer{
    display:flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    border:2px solid black;
    margin: 10px;
}

.consultation-detail-medium-selfcase{
    width:100%;
    height:100%;
    border:1px solid black;
    text-align:center;
    margin-top: -1px;
    margin-bottom: -1px;
    padding-top: 12px;
    padding-bottom :12px;
    background: #e1e1e1;
}

#bouton-retour{
    margin: 20px;
    border:3px solid black;
    border-radius:5px;
    background: #993366;
    color:white;
    padding:15px;
}



/*
       ------------ Réserver Consultation Client ----------
     
*/

#reserver-consultation{
    width: 100%;
    height: 100%;
    color:black;
    background-color:#ffe6e6;
}
#reserver-consultation:hover{
    width: 100%;
    height: 100%;
    color:white;
    background-color:#993366;
}

.notification-consultation{
    font-size:25px;
    border:1px solid grey;
    padding:5px;
    margin:20px;
}
/*
       ------------ HOOVER ----------
     
*/

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #af7ac5;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal-emp {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal-emp:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #af7ac5;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal-emp:hover, .hvr-shutter-out-horizontal-emp:focus, .hvr-shutter-out-horizontal-emp:active {
  color: white;
}
.hvr-shutter-out-horizontal-emp:hover:before, .hvr-shutter-out-horizontal-emp:focus:before, .hvr-shutter-out-horizontal-emp:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.hvr-forward-emp {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward-emp:hover, .hvr-forward-emp:focus, .hvr-forward-emp:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
  background: #af7ac5;
  color: white;
}


/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #af7ac5;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/*
    -------------- EMPLOYE TABLEAU DE BORD ---------
*/
.next-consultation{
    border:2px solid black;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:10px;
    font-size:20px;
    justify-content: space-around;
    margin-top:5vw;
    
}
#button-next-consultation{
    padding:10px;
    background-color:#F54359;
    color:white;
    border:1px solid black;
    margin:10px;
}


/*
    -------------- EMPLOYE DETAIL CONSULTATION ---------
*/

.empConsultation-container{
   display:flex;
   flex-direction:row;
   margin:5vw;
   margin-top:0px;
   justify-content: center;
   width:100%;
   height:100%;
}

.empConsultation-sub-container{
   display:flex;
   flex-direction:column;
   align-items:center;
   margin-bottom: 5vw;
   margin-left: 5vw;
   margin-right: 5vw;
   width:60%;
}
.empConsultation-commentaire{
    display:none;
    margin-bottom:30px;
}

.empConsultation-commentaire textarea{
    align-self: center;
    width:80%;
    height:100%;
    margin:40px;
    border:1px solid black;
    resize: none;
    padding:10px;
}

.empConsultation-infoClient{
    display:flex;
    margin-bottom:30px;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    border:2px solid black;
    padding:2vw;
}
.empConsultation-enCours{
    display:none;
    margin-bottom:30px;
}
.empConsultation-infoClient p{
    font-size:20px;
    padding:5px;
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
}

.empConsultation-infoClient .last{
    border-bottom:1px solid black; 
}
.sous-titre{
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-bottom:40px;
    border-bottom: 2px solid black;
    
}

.empConsultation-historique{
    display:flex;
    flex-direction:column;
    padding:20px;
    border:2px solid black;
    width:100%;
    height: 30vh;
    min-height: 200px;
    margin-bottom:20px;
}
.empConsultation-historique-titre{
    display:flex;
    justify-content: space-between;
}
.empConsultation-historique-titre button{
    height: 40px;
    width:80px;
    border:1px solid black;
    border-radius:10px;
}

#button-commencer-consultation{
    width:250px;
    height:40px;
    border:1px solid black;
    background-color: #F54359;
    color:white;
}

.empConsultation-historique-date{
    display:flex;
    justify-content: space-between;  
}

.empConsultation-historique-commentaire{
    display:flex;
    text-align:center;
    align-items:center;
    justify-content: center;
    height: 100%;
    font-style:italic;
}

#text-commentaire{
    margin:10px;
    font-weight:bold;
}
.empConsultation-begin{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    border:2px solid black;
    width:100%;
}

.range-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:25%;
    margin:1vw;
    border:1px solid black;
    border-radius:20px;
}

#button-prediction{
    padding:5px;
    background-color:#F54359;
    border:1px solid black;
    margin:1vw;
    width:10vw;
    height: 3vw;
    color:white;
}
.prediction-container{
    display:flex;
    flex-direction:row;
}

.predictions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
}

.predictions h3{
    font-weight: bold;
    text-decoration: underline;
}

.container-column{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:40%;
    margin-bottom: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
/*
    -------------- STATISTIQUES ---------
*/

.page-container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

.left-container{
    display:flex;
    order:1;
    flex:1.35;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    margin-right:30px;
}

.bilan-horaire-container{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

.bilan-horaire-container .bilan-horaire-header{
    width:80%;
}

.bilan-horaire-container .bilan-horaire-header h2{
    text-align: center;
    font-weight: bold;
    padding:15px;
    border-bottom: 2px solid black;
    margin-bottom:10px;
}

.bilan-horaire-contents{
    margin:10px;
}

.nbre-clients-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 2px solid black;
    margin:10px;
    padding:10px;
}

.nbre-clients-container .nbre-clients-header{
    width: 80%;
}

.nbre-clients-container .nbre-clients-header h2{
    text-align: center;
    font-weight: bold;
    padding: 15px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.nbre-clients-subcontainer{
    display:flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    border:2px solid black;
    margin: 10px;
}

.nbre-clients-selfcase{
    width:100%;
    height:100%;
    border:1px solid black;
    text-align:center;
    margin-top: -1px;
    margin-bottom: -1px;
    padding-top: 12px;
    padding-bottom :12px;
    background: #e1e1e1;
}

.medium-consultes-container{
    display: flex;
    order:2;
    flex:1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    margin-left:30px;
    padding:10px;
}

.medium-consultes-container .medium-consultes-header{
    width:80%;
}

.medium-consultes-container .medium-consultes-header h2{
    text-align: center;
    font-weight: bold;
    padding: 15px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.medium-consultes-subcontainer{
    display:flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    border:2px solid black;
    margin: 10px;
}

.medium-consultes-selfcase{
    width:100%;
    height:100%;
    border:1px solid black;
    text-align:center;
    margin-top: -1px;
    margin-bottom: -1px;
    padding-top: 12px;
    padding-bottom :12px;
    background: #e1e1e1;
}

.charts-stat{
    display:flex;
    flex-direction:row;
    width:100%;
    height: 400px;
}

#resizable{
    height: 370px;
    border:1px solid gray;
}

#chartContainer1{ 
    width: 100%;
    height: 370px;
}

#chartContainer{
    height: 370px; 
    width: 100%;
}

#button-affichage{
    width:200px;
    height:70px;
    background-color: #e1e1e1;
    border:1px solid black;
    border-radius:10px;
}

/*
    --------- NEW ACCOUNT ---------
*/

.new-account-main-container body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}

.new-account-main-container fieldset, img {border:0}

.new-account-main-container ol, ul, li {list-style:none}

.new-account-main-container :focus {outline:none}

.new-account-main-container body, input, textarea, select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

.new-account-main-container p {
  font-size: 12px;
  width: 150px;
  display: inline-block;
  margin-left: 10px;
}

.new-account-main-container h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.new-account-main-container html{
  background-color: #ffffff;
}

.new-account-main-container .testbox {
  margin: 20px auto;
  width: 343px; 
  height: 590px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}

.new-account-main-container input[type=radio] {
  visibility: hidden;
}

.new-account-main-container form{
  margin: 0 30px;
}

.new-account-main-container label.radio {
  cursor: pointer;
  text-indent: 30px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

.new-account-main-container label.radio:before {
  background: #3a57af;
  content:'';
  position: absolute;
  top:0px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.new-account-main-container label.radio:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 0.5em;
	height: 0.25em;
	background: transparent;
	top: 5.5px;
	left: 4.5px;
	border: 3px solid #ffffff;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.new-account-main-container input[type=radio]:checked + label:after {
	opacity: 1;
}


.new-account-main-container hr{
  color: #a9a9a9;
  opacity: 0.3;
}

.new-account-main-container input[type=text],input[type=password], input[type=date], input[type=tel]{
  width: 200px; 
  height: 39px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
}

.new-account-main-container input[type=password], input[type=date]{
  margin-bottom: 25px;
}

.new-account-main-container #icon {
  display: inline-block;
  width: 30px;
  background-color: #3a57af;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
}

.new-account-main-container .gender {
  margin-left: 8px;
}

.new-account-main-container .accounttype{
  margin-left: 8px;
  margin-top: 20px;
}

.new-account-main-container a.button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 9px 25px 0px 20px;
  margin: 0px 0px 0px 80px;
  display: inline-block;
  text-decoration: none;
  width: 76px; height: 27px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #3a57af; 
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
  -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
  box-shadow: 0 3px rgba(58,87,175,.75);
  transition: all 0.1s linear 0s; 
  top: 0px;
  position: relative;
}

.new-account-main-container a.button:hover {
  top: 3px;
  background-color:#2e458b;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}

